.border-primary {
  border-color: $primaryColor;
}

.border-secondary {
  border-color: $secondaryColor;
}

.border-tertiary {
  border-color: $tertiaryColor;
}

.border-light {
  border-color: $lightColor;
}

.border-dark {
  border-color: $darkColor;
}
