// variables
// colors
$primaryColor: red;
$secondaryColor: green;
$tertiaryColor: blue;
$lightColor: white;
$darkColor: black;

$rootFontSize: 16px;
$xsFontSize: 0.75rem;
$smFontSize: 0.85rem;
$mdFontSize: 1rem;
$lgFontSize: 1.5rem;
$xlFontSize: 2rem;
